/* Font */
@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/inter');

body{ 
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Memastikan body mengambil tinggi penuh viewport */
    background-color: #f7f7f7;
}

/* .Judul{
    width: 15em;
    height: 1em;
    font-size: 1.5em;
    font-family: 'Lato', sans-serif;
    margin: 1em auto;
    padding: .7em;
    border-radius: 3em;
    color: white;
    background-color: #DB5746;
    box-shadow: 0 2px 5px rgba(219, 87, 70, .5);
    top: 5em;
    text-align: center;
} */

.container{
    display:none;
    place-items: center;

    /* width: 90%; */
    width: auto;
    height: auto;
    margin: 2em auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    top: 5em;
}

.subtitle{text-align: center;}
.container h2{
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #DB5746;
    display: inline-block;
}

.container h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* posisinya di bawah teks */
    width: 100%; /* responsif: mengikuti panjang teks */
    height: 3px; /* ketebalan underline */
    background-color: rgba(190, 190, 190, .7); /* warna underline */
    border-radius: 2em;
}

/* Input Nama */
.dataPemesanan{
    /* width: 30em; */
    height: auto;
    padding: 1.5em;
    padding-bottom: 2em;
    margin: 1em auto;
    border-radius: 1em;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .2);
}

.dataPemesanan p{
    text-align: center;
    color: rgba(190, 190, 190, .7);
    font-family: 'Lato', sans-serif;
    margin-bottom: 1em ;
    margin-top: 0;
}

.Judul{
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #DB5746;
    margin-bottom: 0;
}

.inputData{
    display: flex;
    justify-self: center;
    width: 20em;
    padding: 1em;
    margin-left: 1.5em;
    border-radius: 1em;
    font-family: 'Lato', sans-serif;
    border: 2px solid rgb(133, 132, 132);
    margin-bottom: 1em;
}


/* Produk */
.preOrderContainer{
    flex-direction: row;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-rows: repeat(auto-fill, 1fr);
    width: 100%;
    height: 100%;
    gap: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    /* justify-content:space-around; */
    justify-self: center;
    align-self: center;
    align-items: center;
    width: 12em;
    /* height: auto; */
    height: 22em;
    padding: 1em .2em;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius:1em ;
    font-family: 'Lato', sans-serif;
}

.card h3{
    margin-bottom: 0;
    margin-top: 10px;
    font-size: 1.8em;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.card p{
    margin-bottom: .5em;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: rgba(160, 160, 160, 1);
}

.card img{
    width: 10em;
    height: 8em;
    border-radius: 1em;
    margin-top: 5px;
    object-fit: cover;
}

.qty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
    width: fit-content;
    height: auto;
    margin: 10px auto;
}

input[type="number"]{
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    border: 1px solid rgb(133, 132, 132);
    border-radius: 5em;
    padding: .3em;
    text-align: center;
    width: 50px;
    font-size: 16px;
    background: transparent;
    outline: none;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    --moz-appearance: textfield;
}
.qty-btn {
    border: none;
    border-radius: 100%;
    padding: 15px 15px;
    width: 5px;
    height: 5px;
    cursor: pointer;
    border: 1px solid rgb(133, 132, 132);
}
.plusbtn{
    background: url(IMG/add-line-black.png);
    /* background-color: #DB5746; */
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-left: .5em;
}
.minbtn{
    background: url(IMG/subtract-line-black.png);
    /* background-color: #DB5746; */
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: .5em;
}
input[type="checkbox"]{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 1.5em;
    padding: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius:5em ;
    background-color: #DB5746;
    border: 1px solid #DB5746;
    appearance: none;
    transition: .3s ease;
    cursor: pointer;
}
input[type="checkbox"]::after{
    content: 'Pilih';
    color: white;
}
input[type="checkbox"]:checked{
    border: 1px solid #DB5746;
    background-color: white;
}
input[type="checkbox"]:checked::after{
    content: 'Pilih';
    color: #DB5746;
}

/* Total Harga */

/* Submit */
.TotalContainer{
    display: none;
    /* display: flex; */
    flex-direction: column;
    /* width: 80%; */
    height: auto;
    margin: 2em auto;
    padding: 2em;
    border-radius: 1em;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
}

.subtitle{text-align: center;}
.TotalContainer h2{
    font-family: 'Lato', sans-serif;
    position: relative;
    color: #DB5746;
    display: inline-block;
}

.TotalContainer h2::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px; /* posisinya di bawah teks */
    width: 100%; /* responsif: mengikuti panjang teks */
    height: 3px; /* ketebalan underline */
    background-color: rgba(190, 190, 190, .7); /* warna underline */
    border-radius: 2em;
}

.TotalContainer h3{
    color: rgb(133, 132, 132);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.TotalContainer p{
    color: rgb(133, 132, 132);
    text-align: center;
    font-family: 'Inter', sans-serif;
}

button[type="submit"]{
    width: 10em;
    height: 2em;
    border-radius: 10em;
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
    outline: none;
    border: 1px solid #DB5746;
    background-color: #DB5746;
    color: white;
    transition: .3s ease;
    cursor: pointer;
}

button[type="submit"]:hover{
    border: 1px solid #DB5746;
    background-color: white;
    color: #DB5746;
}

button[type="submit"]:active{
    border: 1px solid #DB5746;
    background-color: white;
    color: #DB5746;
    transform: scale(.9);
}

.total{
    border-bottom: 1px solid black;
    font-family: 'Lato', sans-serif;
    width: 95%;
    margin: 0 auto;
    height: fit-content;
    padding: 10px;
}


/* verifikasi */
.verifikasi{
    font-family: 'Lato', sans-serif;
    display: none;
    position: fixed;
    width: 15em;
    padding: 1em;
    height: 6em;
    inset: 0;
    margin: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius: 1em;
    animation: FadeIn .3s forwards;
}

.verifikasi button{
    margin-right: 1em;
    margin-left: 1em;
    width: 5em;
    height: 2em;
    outline: none;
    border: 1px solid #DB5746;
    border-radius: 2em;
    color: white;
    cursor: pointer;
    transition: .3s ease;
}

.verifikasi .yes{background-color: #DB5746;}
.verifikasi .yes:hover{
    background-color: white;
    border: 1px solid #DB5746;
    color: #DB5746;
}

.verifikasi button:active{
    transform: scale(.9);
}

/* Loading */
.loading{
    font-family: 'Lato', sans-serif;
    /* display: inline-block; */
    display: none;
    position: fixed;
    width: 15em;
    height: 6em;
    padding: 2em;
    background-color: white;
    text-align: center;
    inset: 0;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius: 1em;
}

.selesai{display: none; opacity: 0;}
.selesai img{
    width: 4em;
}

.selesai p{
    margin-top: 5px;
    color: #02fa02;
    text-align: center;
    font-family: 'Inter', sans-serif;
}


.progress-container {
  background: #e6e6e6;
  border-radius: 10px;
  overflow: hidden;
  height: 8px;
  width: 15em;
  margin-top: 1em;
  margin-left: 0; margin-right: 0;
  margin-bottom: 1em;
}

.progress-bar { /* Ganti sesuai warna skill (5 second) */
  height: 100%;
  border-radius: 10px;
  width: 0%;
  transition: .3s ease;
}

/* Error Message */
.errorMessage{
    font-family: 'Lato', sans-serif;
    /* display: flex; */
    display: none;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 4em;
    padding: 2em;
    background-color: white;
    text-align: center;
    inset: 0;
    margin: 10px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .3);
    border-radius: 1em;
}

.errorMessage img{
    width: 4em;
    height: 4em;
    margin-top: 5px;
}

.errorMessage p{
    margin-top: 5px;
    color: #ff0000;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

/* Next & Prev */
.nextprevContainer{
    display: flex;
    flex-direction: column;
}
#Next, #Prev{
    width: 100%;
    padding:.8em ;
    border-radius: 1em;
    border: none;
    transition: .3s ease;
    cursor: pointer;
}
#Next:active, #Prev:active{
    transform: scale(.9);
}
#Next{
    background-color: #DB5746;
    color: white;
    font-family: 'Inter', sans-serif;
    border: 1px solid #DB5746;
}
#Prev{
    margin-top: 1em;
    background-color: white;
    color: #DB5746;
    font-family: 'Inter', sans-serif;
    border: 1px solid #DB5746;
}

@keyframes FadeIn{
    0%{
        opacity: 0;
        transform: scale(.2);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes FadeOut{
    0%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(.2);
    }
}

@keyframes FadeInTop{
    0%{
        opacity: 0;
        transform: translateY(-10px);
    }
    100%{
        opacity: 1;
        transform: translateY(10px);
    }
}
@keyframes FadeOutTop{
    0%{
        opacity: 1;
        transform: translateY(10px);
    }
    100%{
        opacity: 0;
        transform: translateY(-10px);
    }
}